<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">商品信息编辑</h3>
                    </div>

                    <div class="card-body">
                        <form id="goodsForm" onsubmit="return false;">

                            <!--商品分类级别选择区域-->
                            <div class="form-group" style="display:flex;">
                                <label class="control-label">请选择分类:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <select class="form-control col-sm-3" id="levelOne"
                                        data-placeholder="请选择分类...">
                                    <th:block th:unless="${null == firstLevelCategories}">
                                        <th:block th:each="c : ${firstLevelCategories}">
                                            <option th:value="${c.cid}" th:text="${c.cname}"
                                                    th:selected="${null !=firstLevelCategoryId and firstLevelCategoryId==c.cid} ?true:false">
                                                >
                                            </option>
                                        </th:block>
                                    </th:block>
                                </select>&nbsp;
                                <select class="form-control col-sm-3"
                                        id="levelTwo"
                                        data-placeholder="请选择分类...">
                                    <th:block th:unless="${null == secondLevelCategories}">
                                        <th:block th:each="c : ${secondLevelCategories}">
                                            <option th:value="${c.cid}" th:text="${c.cname}"
                                                    th:selected="${null !=secondLevelCategoryId and secondLevelCategoryId==c.cid} ?true:false">
                                                >
                                            </option>
                                        </th:block>
                                    </th:block>
                                </select>&nbsp;
                                <select class="form-control col-sm-3"
                                        id="levelThree"
                                        data-placeholder="请选择分类...">
                                    <th:block th:unless="${null == thirdLevelCategories}">
                                        <th:block th:each="c : ${thirdLevelCategories}">
                                            <option th:value="${c.cid}" th:text="${c.cname}"
                                                    th:selected="${null !=thirdLevelCategoryId and thirdLevelCategoryId==c.cid} ?true:false">
                                                >
                                            </option>
                                        </th:block>
                                    </th:block>
                                </select>
                            </div>
                            <!--商品分类级别选择区域--结束-->

                            <!--商品信息填写区域-->
                            <div class="form-group" style="display:flex;">
                                <input type="hidden" id="commId" name="commId"
                                       th:value="${goods!=null and goods.commId!=null }?${goods.commId}: 0">
                                <input type="text" class="form-control col-sm-6" id="goodsName" name="goodsName"
                                       placeholder="*请输入商品名称(必填)"
                                       th:value="${goods!=null and goods.name!=null }?${goods.name}: ''"
                                       required="true">
                                &nbsp;
                                <input type="number" class="form-control col-sm-6" id="goodsPrice" name="goodsPrice"
                                       placeholder="*请输入商品价格"
                                       th:value="${goods!=null and goods.price!=null }?${goods.price}: ''"
                                       required="true">
                            </div>

                            <div class="form-group" style="display:flex;">
                                <input type="text" class="form-control col-sm-6" id="goodsImageURL" name="goodsImageURL"
                                       placeholder="*图片路径 例:"
                                       th:value="${goods!=null and goods.albumPics!=null }?${goods.albumPics}: ''"
                                       required="true">
                                &nbsp;&nbsp;
                                <input type="number" class="form-control col-sm-6" id="goodsStock"
                                       name="goodsStock"
                                       placeholder="*请输入商品库存量"
                                       th:value="${goods!=null and goods.stock!=null }?${goods.stock}: ''"
                                       required="true">
                            </div>

                            <div class="form-group" style="display:flex;">
                                <input type="text" class="form-control col-sm-6" id="goodsUnit" name="goodsUnit"
                                       placeholder="*请输入商品单位"
                                       th:value="${goods!=null and goods.unit!=null }?${goods.unit}: ''"
                                       required="true">
                                &nbsp;&nbsp;
                                <input type="text" class="form-control col-sm-6" id="goodsSN" name="goodsSN"
                                       placeholder="*请输入商品条码"
                                       th:value="${goods!=null and goods.productSn!=null }?${goods.productSn}: ''"
                                       required="true">
                            </div>

                            <div class="form-group" style="display:flex;">
                                <input type="text" class="form-control col-sm-6" id="goodsSaleAddress" name="goodsSaleAddress"
                                       placeholder="*请输入商品出货地址"
                                       th:value="${goods!=null and goods.saleAddress!=null }?${goods.saleAddress}: ''"
                                       required="true">
                                &nbsp;&nbsp;
                                <input type="text" class="form-control col-sm-6" id="goodsMakeAddress" name="goodsMakeAddress"
                                       placeholder="*请输入商品制造地址"
                                       th:value="${goods!=null and goods.makeAddress!=null }?${goods.makeAddress}: ''"
                                       required="true">
                            </div>

                            <div class="form-group">
                                <label class="control-label">上架状态:&nbsp;</label>
                                <input name="goodsSellStatus" type="radio" id="goodsPublicshStatusTrue" checked=true
                                       th:checked="${null==goods||(null !=goods and null !=goods.publishStatus and goods.publishStatus==1)} ?true:false"
                                       value="0"/>&nbsp;上架&nbsp;
                                <input name="goodsSellStatus" type="radio" id="goodsPublicshStatusFalse" value="1"
                                       th:checked="${null !=goods and null !=goods.publishStatus and goods.publishStatus==1} ?true:false"/>&nbsp;下架&nbsp;
                            </div>

                            <div class="form-group">
                                <label class="control-label">新品状态:&nbsp;</label>
                                <input name="goodsNewStatus" type="radio" id="goodsNewStatusTrue" checked=true
                                       th:checked="${null==goods||(null !=goods and null !=goods.newStatus and goods.newStatus==1)} ?true:false"
                                       value="0"/>&nbsp;新品&nbsp;
                                <input name="goodsNewStatus" type="radio" id="goodsNewStatusFalse" value="1"
                                       th:checked="${null !=goods and null !=goods.newStatus and goods.newStatus==0} ?true:false"/>&nbsp;非新品&nbsp;
                            </div>

                            <div class="form-group">
                                <label class="control-label">推荐状态:&nbsp;</label>
                                <input name="goodsRecommandStatus" type="radio" id="goodsRecommandStatusTrue" checked=true
                                       th:checked="${null==goods||(null !=goods and null !=goods.recommandStatus and goods.recommandStatus==1)} ?true:false"
                                       value="0"/>&nbsp;推荐&nbsp;
                                <input name="goodsRecommandStatus" type="radio" id="goodsRecommandStatusFalse" value="1"
                                       th:checked="${null !=goods and null !=goods.recommandStatus and goods.recommandStatus==0} ?true:false"/>&nbsp;不推荐&nbsp;
                            </div>


                            <div class="form-group">
                                <textarea id="editor" style="width: 100%; height: 260px;" placeholder="*请输入商品简介(100字以内)"
                                          th:utext="${goods!=null and goods.decription !=null}?${goods.decription}: ''"></textarea>
                            </div>

                            <div class="form-group">
                                <!-- 按钮 -->
                                &nbsp;<button class="btn btn-info float-right" style="margin-left: 5px;"
                                              id="confirmButton">保存商品
                            </button>&nbsp;
                                &nbsp;<button class="btn btn-secondary float-right" style="margin-left: 5px;"
                                              id="cancelButton">返回商品列表
                            </button>&nbsp;
                            </div>
                        </form>

                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </div>


        <div class="content">
            <!--模态框（Modal）-->
            <div class="modal fade" id="goodsModal" tabindex="-1" role="dialog" aria-labelledby="goodsModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="goodsModalLabel">信息完善</h6>
                        </div>
                        <div class="modal-body">
                            <form onsubmit="return false;">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <th:block th:if="${null == goods}">
                                            <img id="goodsCoverImg" src="/admin/dist/img/img-upload.png"
                                                 style="height: 64px;width: 64px;">
                                        </th:block>
                                        <th:block th:unless="${null == goods}">
                                            <img id="goodsCoverImg" th:src="${goods.albumPics}"
                                                 style="width:160px ;height: 160px;display:block;">
                                        </th:block>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <button class="btn btn-info" style="margin-bottom: 5px;"
                                                id="uploadGoodsCoverImg">
                                            <i class="fa fa-picture-o"></i>&nbsp;上传商品主图
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="saveButton">确认</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- ajaxupload -->
<script th:src="@{/admin/plugins/ajaxupload/ajaxupload.js}"></script>
<!-- kindeditor -->
<script th:src="@{/admin/plugins/kindeditor-4.1.10/kindeditor-all.js}"></script>
<script th:src="@{/admin/plugins/kindeditor-4.1.10/lang/zh_CN.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/newbee_mall_goods_edit.js}"></script>
</body>
</html>
