<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar-fragment(path)" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/admin/index}" class="brand-link">
        <img th:src="@{/admin/dist/img/new-bee-logo-1.png}" alt="ssm-cluster Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">乐淘商城</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-header">主面板-商城介绍</li>
                <li class="nav-item">
                <a th:href="@{/admin/index}" th:class="${path}=='index'?'nav-link active':'nav-link'">
                    <i class="nav-icon fa fa-dashboard"></i>
                    <p>
                        主面板
                    </p>
                </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/personal_info}" th:class="${path}=='personal_info'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            个人信息-缺少页面
                        </p>
                    </a>
                </li>



                <li class="nav-header">管理模块</li>
                <li class="nav-item">
                    <a th:href="@{/admin/admin_orders}"
                       th:class="${path}=='admin_orders'?'nav-link active':'nav-link'">
                        <i class="fa fa-list-alt nav-icon" aria-hidden="true"></i>
                        <p>
                            订单管理
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/admin/admin_goods}" th:class="${path}=='admin_goods'?'nav-link active':'nav-link'">
                        <i class="fa fa-archive nav-icon" aria-hidden="true"></i>
                        <p>
                            商品管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/admin_category}" th:class="${path}=='admin_category'?'nav-link active':'nav-link'">
                        <i class="fa fa-money nav-icon" aria-hidden="true"></i>
                        <p>
                            分类信息管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/admin_user}" th:class="${path}=='admin_user'?'nav-link active':'nav-link'">
                        <i class="fa fa-users nav-icon" aria-hidden="true"></i>
                        <p>
                            账户信息管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/admin_statistics}" th:class="${path}=='admin_user'?'nav-link active':'nav-link'">
                        <i class="fa fa-users nav-icon" aria-hidden="true"></i>
                        <p>
                            数据统计
                        </p>
                    </a>
                </li>


                <li class="nav-header">其他模块</li>
                <li class="nav-item">
                    <a th:href="@{/admin/logout}" class="nav-link">
                        <i class="fa fa-sign-out nav-icon"></i>
                        <p>安全退出</p>
                    </a>
                </li>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
</html>