<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar-fragment(path)" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/admin/index}" class="brand-link">
        <span class="brand-text font-weight-light">乐淘商城</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-header">主面板-商城介绍</li>
                <li class="nav-item">
                <a th:href="@{/admin/index}" th:class="${path}=='index'?'nav-link active':'nav-link'">
                    <i class="nav-icon fa fa-dashboard"></i>
                    <p>
                        主面板
                    </p>
                </a>
                </li>


                <li class="nav-header">管理模块</li>

                <li class="nav-item">
                    <a th:href="@{/admin/goods}" th:class="${path}=='admin_goods'?'nav-link active':'nav-link'">
                        <i class="fa fa-archive nav-icon" aria-hidden="true"></i>
                        <p>
                            商品管理
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/admin/categories?parentId=0&categoryLevel=1&backParentId=0}"
                       th:class="${path}=='admin_category'?'nav-link active':'nav-link'">
                        <i class="fa fa-list-alt nav-icon" aria-hidden="true"></i>
                        <p>
                            分类管理
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a th:href="@{/admin/orders}" th:class="${path}=='admin_orders'?'nav-link active':'nav-link'">
                        <i class="fa fa-list-alt nav-icon" aria-hidden="true"></i>
                        <p>
                            订单管理
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a th:href="@{/admin/users}" th:class="${path}=='admin_user'?'nav-link active':'nav-link'">
                        <i class="fa fa-users nav-icon" aria-hidden="true"></i>
                        <p>
                            会员管理
                        </p>
                    </a>
                </li>

                <li class="nav-header">统计管理</li>

                <li class="nav-item">
                    <a th:href="@{/admin/statistics}" class="nav-link">
                        <i class="fa fa-line-chart nav-icon"></i>
                        <p>统计报表</p>
                    </a>
                </li>


                <li class="nav-header">系统管理</li>
                <li class="nav-item">
                    <a th:href="@{/admin/profile}" th:class="${path}=='personalInfo'?'nav-link active':'nav-link'">
                        <i class="fa fa-user nav-icon"></i>
                        <p>
                            修改信息
                        </p>
                    </a>
                </li>

                <li class="nav-item" th:if="${session.AdminUser.getType()} == 'admin'">
                    <a th:href="@{/admin/account}" th:class="${path}=='admin_user'?'nav-link active':'nav-link'">
                        <i class="fa fa-users nav-icon" aria-hidden="true"></i>
                        <p>
                            账户管理
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/admin/logout}" class="nav-link">
                        <i class="fa fa-sign-out nav-icon"></i>
                        <p>安全退出</p>
                    </a>
                </li>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
</html>