
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乐淘商城</title>
    <link rel="stylesheet" href="mall/css/swiper.min.css">
    <link rel="stylesheet" href="mall/css/iconfont.css">
    <link rel="stylesheet" href="mall/css/common.css">
    <link rel="stylesheet" href="mall/styles/header.css">
    <link rel="stylesheet" href="mall/styles/personal.css">
    <link rel="stylesheet" href="dmin/plugins/sweetalert/sweetalert.css"/>
    
</head>
<link href="mall/css/bootstrap-modal.css" rel="stylesheet">
<body>
<header id="header">
    <div class="center">
        <ul class="fl">
             <li><a href="#">乐淘商城</a></li>
            <li><a href="#">后台管理系统</a></li>
            <li><a href="#">捐赠</a></li>
            <li><a href="#">问题反馈</a></li>
            <li><a href="#">GitHub 地址</a></li>
            <li><a href="#">码云Gitee 地址</a></li>
        </ul>
        <div class="fr">
            
                <div class="user">
                    <ul class="selector">
                        <li>
                            <a href="/personal">
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a href="/orders">
                                我的订单
                            </a>
                        </li>
                        <li>
                            <a href="/logout">
                                退出登录
                            </a>
                        </li>
                    </ul>
                    <a href="##" class="username">
                        李佳
                        <i class="iconfont icon-down"></i>
                    </a>
                </div>
                <div class="shopcart">
                    <a href="/shop-cart" style="color: white;"><i class="iconfont icon-cart"></i>
                        购物车(
                        0
                        )</a>
                </div>
            
            
        </div>
    </div>
</header>
<!-- nav -->
<nav id="nav">
    <div class="banner_x center">
        <a href="/index" class="logo"><h1>乐淘商城</h1></a>
        <a href="/index" class="gif"></a>
        <ul class="list">
            <li><a href="##">秒杀</a></li>
            <li><a href="##">优惠券</a></li>
        </ul>
        <div class="fr">
            <div class="search">
                <input class="text" type="text" id="keyword" autocomplete="off">
                <div class="search_hot">
                </div>
            </div>
            <div class="button iconfont icon-search" onclick="search()"></div>
        </div>
    </div>
</nav>

<!-- personal -->
<div id="personal">
    <div class="self-info center">

        <!-- sidebar -->
        <div class="lfnav fl">
    <div class="nav_title">个人中心</div>
    <div class="title_list">
        <ul>
            <li><a href="/personal" class="active">个人信息</a></li>
            <li><a href="/orders">我的订单</a></li>
            <li><a href="/logout">退出登录</a></li>
        </ul>
    </div>
</div>

        <div class="intro fr">
            <div class="grzlbt ml40">我的资料 <a href="javascript:openUpdateModal();"
                                             style="color:#1baeae;margin-left: 600px;">更改个人信息</a>
            </div>
            <div class="info_item ml40"><span>昵称</span><span>李佳</span>
            </div>
            <div class="info_item ml40"><span>手机号</span><span>18806210404</span>
            </div>
            <div class="info_item ml40"><span>密码</span><span>******</span>
            </div>
            <div class="info_item ml40"><span>个性签名</span><span>小佳佳</span>
            </div>
            <div class="info_item ml40"><span>收货信息</span><span>江苏省苏州市独墅湖高教区399号</span></span>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    <div class="content">
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="personalInfoModal" tabindex="-1" role="dialog"
             aria-labelledby="personalInfoModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h6 class="modal-title" id="personalInfoModalLabel">个人信息修改</h6>
                    </div>
                    <div class="modal-body">
                        <form id="personalInfoForm">
                            <div class="form-group">
                                <label for="nickName" class="control-label">昵称:</label>
                                <input type="hidden" id="userId" value="9">
                                <input type="text" class="form-control" id="nickName" name="nickName"
                                       placeholder="请输入昵称" value="李佳"
                                       required="true">
                            </div>
                            <div class="form-group">
                                <label for="introduceSign" class="control-label">个性签名:</label>
                                <input type="text" class="form-control" id="introduceSign" name="introduceSign"
                                       placeholder="请输入个性签名" value="小佳佳"
                                       required="true">
                            </div>
                            <div class="form-group">
                                <label for="address" class="control-label">收货信息:</label>
                                <input type="text" class="form-control" id="address" name="address"
                                       placeholder="请输入收货信息" value="江苏省苏州市独墅湖高教区399号"
                                       required="true">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="saveButton">确认</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
    </div>
</div>

<div class="site-footer">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">人工客服</p>
                    <p class="tel">400-xxx-xx13</p>
                    <a href="#">在线咨询</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>帮助中心</dt>
                <dd><a rel="nofollow" href="#" target="_blank">账户管理</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">购物指南</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">订单操作</a></dd>
            </dl>
            <dl class="col-article">
                <dt>关注我们</dt>
                <dd><a rel="nofollow" href="#" target="_blank">新浪微博</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">官方微信</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">联系我们</a></dd>
            </dl>
            <dl class="col-article">
                <dt>线下门店</dt>
                <dd><a rel="nofollow" href="#" target="_blank">LETAO TOWN</a>
                </dd>
                <dd><a rel="nofollow" href="#" target="_blank">服务网点</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">授权体验店</a></dd>
            </dl>
            <dl class="col-article">
                <dt>关于乐淘</dt>
                <dd><a rel="nofollow" href="#" target="_blank">了解乐淘</a>
                </dd>
                <dd><a rel="nofollow" href="" target="_blank">加入乐淘</a>
                </dd>
                <dd><a rel="nofollow" href="#" target="_blank">捐赠维护</a>
                </dd>
            </dl>
        
        </div>
        <div class="footer-links w1100">
            <p>友情链接：</p>
            <div class="clearfix">
                <a href="/index">乐淘商城</a>
                <a href="/admin">后台管理系统</a>
                <a href="#">捐赠</a>
                <a href="#">问题反馈</a>
                <a href="#">GitHub 地址</a>
                <a href="#">码云Gitee 地址</a>
            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p><a href="" target="_blank">乐淘商城 &nbsp; | &nbsp;
                    Powered by 乐淘&nbsp;
                    | &nbsp;</a>
                    &nbsp;QQ交流群：796794009&nbsp;&nbsp; <a
                            href="#"></a>
                </p>
                <p><a href="#" target="_blank">Copyright ©newbee.ltd All
                    Rights
                    Reserved.&nbsp; | &nbsp; 浙ICP备17008806号-5 </a></p>
                
            </div>
        </div>

    </div>
</div>

<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 3 -->
<script src="/mall/js/bootstrap3.js"></script>
<script src="/mall/js/search.js" type="text/javascript"></script>
<script src="/admin/plugins/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript">
    function openUpdateModal() {
        $('#personalInfoModal').modal('show');
    }

    //绑定modal上的保存按钮
    $('#saveButton').click(function () {
        var address = $("#address").val();
        if (address.trim().length < 10) {
            swal("请输入正确的收货信息", {
                icon: "error",
            });
            return;
        }
        var introduceSign = $("#introduceSign").val();
        if (introduceSign.trim().length < 4) {
            swal("请输入正确的个性签名", {
                icon: "error",
            });
            return;
        }
        var nickName = $("#nickName").val();
        if (nickName.trim().length < 2) {
            swal("请输入正确的昵称", {
                icon: "error",
            });
            return;
        }
        var userId = $("#userId").val();
        var data = {
            "userId": userId,
            "address": address,
            "introduceSign": introduceSign,
            "nickName": nickName
        };
        $.ajax({
            type: 'POST',//方法类型
            url: '/personal/updateInfo',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.resultCode == 200) {
                    $('#personalInfoModal').modal('hide');
                    window.location.reload();
                } else {
                    $('#personalInfoModal').modal('hide');
                    alert(result.message);
                }
                ;
            },
            error: function () {
                alert('操作失败');
            }
        });
    });
</script>
</body>
</html>