<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.letao.mapper.OmOrderMapper">

    <sql id="Base_Column_List">
    order_id, order_sn, user_id, total_amount,status, pay_type, payment_time,pay_status
    delete_status, created_time, modify_time,address
    </sql>

    <select id="getMyOrderCount" parameterType="Map" resultType="int">
        select count(*) from om_order where user_id=#{userId} and delete_status=0
    </select>

    <select id="findMyOrderList" parameterType="Map" resultType="cn.edu.seu.letao.entity.OmOrder">
        select
        *
        from om_order
        <where>
            <if test="orderSn!=null and orderSo!=''">
                and order_sn = #{orderSn}
            </if>
            <if test="userId!=null and userId!=''">
                and user_id = #{userId}
            </if>

            <if test="status!=null and status!=''">
                and status = #{status}
            </if>
            <if test="deleteStatus!=null and deleteStatus!=''">
                and delete_status = #{deleteStatus}
            </if>
            <if test="startTime != null and startTime.trim() != ''">
                and created_time &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime.trim() != ''">
                and created_time &lt; #{endTime}
            </if>
        </where>
        order by created_time desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="orderId"
            parameterType="cn.edu.seu.letao.entity.OmOrder">
        insert into om_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="orderSn != null">
                order_sn,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="totalAmount != null">
                total_amount,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="payStatus != null">
                pay_status,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="paymentTime != null">
                payment_time,
            </if>
            <if test="deleteStatus!= null">
                delete_status,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="address != null">
                address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId},
            </if>
            <if test="orderSn != null">
                #{orderSn},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="totalAmount != null">
                #{totalAmount},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="payStatus != null">
                #{payStatus},
            </if>
            <if test="payType != null">
                #{payType},
            </if>
            <if test="paymentTime != null">
                #{paymentTime},
            </if>
            <if test="deleteStatus != null">
                #{deleteStatus},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="modifyTime != null">
                #{modifyTime},
            </if>
            <if test="address != null">
                #{address},
            </if>
        </trim>
    </insert>

    <select id="selectByOrderNo" parameterType="java.lang.String" resultType="cn.edu.seu.letao.entity.OmOrder">
        select
        <include refid="Base_Column_List"/>
        from om_order
        where order_sn = #{orderSn} and delete_status=0 limit 1
    </select>

    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update om_order set is_deleted=1
        where order_id = #{orderId} and delete_status=0
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.seu.letao.entity.OmOrder">
        update om_order
        <set>
            <if test="orderNo != null">
                order_id = #{orderId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="totalAmount != null">
                total_amount = #{totalAmount},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="paymentTime != null">
                payment_time = #{paymentTime},
            </if>

            <if test="deleteStatus != null">
                delete_status = #{deleteStatus},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </set>
        where order_id = #{orderId}
    </update>

    <select id="findOrderList" parameterType="Map" resultType="cn.edu.seu.letao.entity.OmOrder">
        select * from om_order where status in (0,1) order by created_time desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

</mapper>
