<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.letao.mapper.PmCommodityMapper">

    <resultMap id="PageResultMap" type="cn.edu.seu.letao.entity.PmCommodity">
        <id column="comm_id" jdbcType="INTEGER" property="commId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="album_pics" jdbcType="VARCHAR" property="albumPics"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="publish_status" jdbcType="INTEGER" property="publishStatus"/>
    </resultMap>

    <select id="selectForPage" parameterType="Map" resultMap="PageResultMap">
        select comm_id, name,description,album_pics,stock,price,publish_status from pm_commodity
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <update id="updateSellStatus">
        update pm_commodity
        set publish_status=#{sellStatus} where comm_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getCommodityForIndex" parameterType="Map" resultMap="PageResultMap">
        select comm_id, name,description,album_pics,stock,price,publish_status from pm_commodity
            where recommand_status=#{type}
            limit #{number}

    </select>

    <select id="selectByPrimaryKeys" resultMap="PageResultMap">
        select
        comm_id, name,description,album_pics,stock,price,publish_status
        from pm_commodity
        where comm_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by field(comm_id,
        <foreach item="id" collection="list" separator=",">
            #{id}
        </foreach>
        );
    </select>

    <update id="updateStockNum">
        <foreach collection="stockNumDTOS" item="stockNumDTO">
            update pm_commodity set stock = stock-#{stockNumDTO.quantity}
            where comm_id = #{stockNumDTO.commId} and stock>=#{stockNumDTO.quantity} and publish_status = 0;
        </foreach>
    </update>

    <select id="findLetaoMallGoodsListBySearch" parameterType="Map" resultMap="PageResultMap">
        select comm_id, name,description,album_pics,stock,price,publish_status from pm_commodity
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like CONCAT('%',#{keyword},'%') or description like CONCAT('%',#{keyword},'%'))
            </if>
            <if test="goodsCategoryId!=null and goodsCategoryId!=''">
                and commodity_category_id = #{goodsCategoryId}
            </if>
        </where>
        <if test="orderBy!=null and orderBy!=''">
            <choose>

                <when test="orderBy == 'price'">
                    <!-- 按照售价从小到大排列 -->
                    order by price asc
                </when>
                <otherwise>
                    <!-- 默认按照库存数量从大到小排列 -->
                    order by stock desc
                </otherwise>
            </choose>
        </if>
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>


    <select id="getTotalLetaoMallGoodsBySearch" parameterType="Map" resultType="int">
        select count(*) from pm_commodity
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like CONCAT('%',#{keyword},'%') or description like CONCAT('%',#{keyword},'%'))
            </if>
            <if test="goodsCategoryId!=null and goodsCategoryId!=''">
                and commodity_category_id = #{goodsCategoryId}
            </if>
        </where>
    </select>

</mapper>
